<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">

<head>

<title>{% if page.title != 'index' %} {{ page.title }} : {% endif %} gina chiappetta</title>

<link rel='stylesheet' href='{{ site.url }}/css/style.css' type='text/css' />


<style type='text/css'>
#img-container p { margin-bottom: 18px; }
#img-container p span { line-height: 18px; }
</style>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46729081-1', 'ginachiappetta.com');
  ga('send', 'pageview');

</script>
</head>

<body class='section-4'>
			<div id='menu'>
				<table border="0" cellpadding="0" cellspacing="0" height="100%">
					<tr>
						<td valign="top">
							<div class='container'>
								<br>
								<div class="drvce"><a class="odnaslova" href="{{ site.url }}">gina chiappetta</a></div>
								<br><br><br>

